# IDE и системныые файлы
.idea
.DS_Store

# Кэш Python
**/__pycache__/
**/*.py[cod]
**/*.pyo

# Виртуальные окружения
**/venv
.venv/

# Git файлы
.git/
.gitignore

# Django fixtures
src/college/fixtures/
src/educationpart/fixtures/
src/reference/fixtures/
src/schedule/fixtures/

# Тесты и отчёты покрытия
**/.pytest_cache/
**/coverage/

# Игнор скрытых файлов
**/.*

# Исключение Dockerfile и .dockerignore из игнорирования
!Dockerfile
!.dockerignore