.idea
**/__pycache__/
**/venv
**/.*
.DS_Store

**.git/

# Django Fixtures
src/college/fixtures/
src/educationpart/fixtures
src/reference/fixtures
src/schedule/fixtures
**/core/static/*

# Enviroments
.venv
venv/

# Unit test / coverage reports
**/.pytest_cache/