{% extends "core/base.html" %}
{% load static %}
{% block content %}
<h2>Восстановление пароля</h2>
<p></p>
<form method="post">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="primary">Отправить</button>
</form>
<h3>Единая учетная запись</h3>
<div class="box">
    <ul>
        <li>Доступ к информационным системам Колледжа и сопутствующим внешним сервисам, используйте единую учётную запись *@corp.kp11.ru</li>
        <li>Сотрудники получают единую учетную запись при приёме на работу</li>
        <li>Обучающиеся получают единую учетную запись при зачислении</li>
        <li>Сотрудники и обучающиеся должны обеспечить конфиденциальность пароля. Запрещается передавать пароль от своей единой учётной записи другим лицам</li>
        <li>В случае если пароль от учётной записи стал известен кому-либо, владелец обязан незамедлительно сменить его. Это можно сделать с помощью формы выше</li>
        <li>Пароль должен содержать не менее 9 символов, в том числе строчную и заглавную буквы и цифру. Использование кириллицы не допускается. Пароль не должен содержать два и более подряд идущих символа, присутствующих в логине</li>
        <li>Все действия, выполненные под единой учётной записью, считаются выполненными владельцем единой учётной записи</li>
        <li>При увольнении (отчислении) из Колледжа, единая учётная запись подлежит отключению</li>
    </ul>
</div>
{% endblock %}