{% extends "core/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-6 col-12-small">
        <h2>Профиль пользователя</h2>
    </div>
    <div class="row col-6 col-12-small aln-right">
        {% if request.user.is_superuser %}
        <a href="{% url 'admin:index' %}" class="button small"><i class="fas fa-user-cog"></i> admin</a>
        {% endif %}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button class="small"><i class="fas fa-sign-out-alt"></i> Выход</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-6 col-12-small align-center">
        <span class="image">
            {% if request.user.userpic %}
                <img src="{% get_media_prefix %}{{ request.user.userpic }}" style="margin-left: auto;margin-right: auto;display: block; width: 35%; border-radius: 50%;">
            {% else %}
                <img src="{% static 'images/default_userpic.png' %}" style="margin-left: auto;margin-right: auto;display: block; max-width: 200px; border-radius: 50%;">
            {% endif %}
        </span>
        <h3>{{ request.user.get_fullname }}</h3>
        <a href="{% url 'edit_profile' %}" class="button small"><i class="fas fa-user-edit"></i> Редактировать профиль</a>
    </div>
    <div class="col-6 col-12-small">
        <h3>Персональная информация</h3>
        <p>
            <b>Личная почта:</b>
            {{ request.user.alternative_email }}
        </p>
        <p>
            <b>Личный телефон:</b>
            {{ request.user.mobile }}
        </p>
        <p>
            <b>Дата рождения:</b>
            {{ request.user.birthday }}
        </p>
        <p>
            <b>Группа:</b>
            {{ request.user.group }}
        </p>
    </div>
</div>
<hr class="major" />
<header class="major">
    <h3>Внутренние сервисы</h3>
</header>
<div class="row">
    {% include 'core/internal_services.html' %}
</div>

{%  regroup user_services by category as category_list %}
{% for category in category_list %}
<header class="major">
    <h3>{{ category.grouper }}</h3>
</header>
<div class="row">
    {% for service in category.list %}
    <div class="col-3 col-12-medium zoom">
        <p>
            <a href="{{ service.link }}" class="icon">
                <section class="box-element border">
                    <i class="solid fa-2x {{ service.icon }}"></i>
                    <h4>{{ service.name }}</h4>
                </section>
            </a>
        </p>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock %}