{% extends "core/base.html" %}
{% block content %}
{% regroup couples by stream as rings_list %}
<div class="table-wrapper">
    <div class="row">
        {% for ring in rings_list %}
        <div class="col-6 col-12-small">
            <header class="major">
                <h3>{{ ring.grouper }}</h3>
            </header>
            <table>
                <thead>
                    <tr>
                        <th>№ Пары</th>
                        <th>Начало</th>
                        <th>Конец</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in ring.list %}
                    {% if now_time >= item.time_start and now_time <= item.time_end %}
                        <tr style="background-color: #f56a6a; color: white;">{% else %}<tr>
                    {% endif %}
                            <td>{{ item.number }}</td>
                            <td style="width: 10%;">{{ item.time_start }}</td>
                            <td style="width: 10%;">{{ item.time_end }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% empty %}
        <h3>Расписание звонков не загружено</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}