<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>№ пары</th>
                <th>Дисциплина</th>
                <th>Ауд.</th>
            </tr>
        </thead>
        <tbody>
        {% for event in schedule %}
            <tr>
                <td>{{ event.couple }}</td>
                <td>{{ event.discipline }} / {{ event.teacher }}</td>
                <td>{{ event.auditory }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>