{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ site_settings.site_name }} - {{ title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="is-preload">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<section>
						<div class="content">
							{% block content %}	{% endblock %}
						</div>
					</section>
				</div>
			</div>
		</div>
		{% block scripts %}
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
		{% endblock %}
	</body>
</html>