{% extends "core/base.html" %}
{% load static %}
{% block content %}
<!-- Top bar -->
<div class="row">

    <!-- Date block -->
    {% if date_form %}
    <div class="col-4 col-12-medium">
        <header class="major">
            <h3>Дата</h3>
        </header>
        <form action="#" method="post">
            {% csrf_token %}
            {{ date_form.as_p }}
            <input type="submit" name="date_form" value="Показать">
        </form>
    </div>
    {% endif %}

    <!-- Teacher block -->
    <div class="col-4 col-12-medium">
        {% if teacher_form %}
        <header class="major">
            <h3>Преподаватели</h3>
        </header>
        <form action="#" method="post">
            {% csrf_token %}
            {{ teacher_form.as_p }}
            <button>Показать</button>
        </form>
        {% endif %}
    </div>

    <!-- Other block -->
    <div class="col-4 col-12-medium">
        <a href="#" class="button fit" style="margin-bottom: 10px;"><strong>Общее расписание</strong></a>
        <a href="{% url 'schedule_rings' department.slug %}" class="button fit" style="margin-bottom: 10px;"><strong>Расписание звонков</strong></a>
        <a href="#" class="button fit" style="margin-bottom: 10px;"><strong>Расписание сессии</strong></a>
    </div>
</div>
{% endblock %}