{% load static %}
<header id="header">
    <a href="{% url 'homepage' %}" class="logo">
        <strong>{{ title }}</strong>{% if subtitle %} - {{ subtitle }}{% endif %}
    </a>
    <ul class="icons">
    {% if user.is_authenticated %}
        <li>Приветствую
            <a href="{% url 'profile' %}" class="icon">
                <strong>{{ request.user.first_name }} {{ request.user.middle_name }}</strong>
                <i class="fas fa-user-circle fa-lg"></i>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}" class="icon"><i class="fas fa-sign-in-alt"></i> Вход</a>
        </li>
    {% endif %}
    </ul>
</header>